/*Configs gerais container */
* {
    margin: 0px;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
html {
    scroll-behavior: smooth;
  }

body{
   margin: 0;
   padding: 0;
   background-color: black;
   color: white;
}
button{
    padding: 10px;
    border-radius: 40px;
    width: 120px;
    border: none;
}
h1{
    font-size: 48px;
    color: rgb(144, 229, 230);
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    font-size: 40px;
    color: rgb(95, 108, 125)
}

/*Header container */
header{
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-bottom: 40px;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.155);
}
header #titulo2{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

#titulo2 h3{
    font-size: 15px;
    margin: 0px 15px;
}

/*Sobre container */
#sobre{
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.155);
}
#sobre h1{
    margin: 80px 0px 40px
}
#sobre .conteudo-sobre{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
}

#sobre #texto1, #texto2{
    padding: 30px 0px;
}
#sobre img{
    width: 100%;
    margin: 0 auto;
}

/*Imagens sobre Guilherme */
#sobre2{
    text-align: center;
    margin: 80px 0px 150px;
}
#sobre2 h1{
    margin-bottom: 50px;
}
#container-fotos{
    margin: 0 auto;
    width: 200px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

#container-fotos img{
    width: 80px;

}



/*Projetos */
.header-projeto{
    display: flex;
}
.img-responsividade{
     width: 100%;
     display: flex;
     flex-direction: column;
     margin-top: -80px;
}

#imagens-projeto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#projetos h1{
    text-align: center;
    margin-bottom: 80px;
}

.seta{
    width: 50px;
    margin-bottom: 50px;
    cursor: pointer;
}
#logo{
    width: 100%;
    margin-bottom: 80px;
}
/*especifico para cada projeto */

/*Projeto petDev */
#projeto-petdev{
    align-items: center;
    text-align: left;
    padding: 10px;
}
#projeto-petdev button{
    background-color: rgb(226, 181, 64);
    margin: 20px 0px;
}
#projeto-petdev h2{
    color: rgb(226, 181, 64);
    border: 0.5px solid black;
}

/*Projeto paixao em tela */
#projeto-paixaoemtela h2, #projeto-paixaoemtela h3{
    color:rgb(128, 15, 47) ;
}
#projeto-paixaoemtela{
    background-color: rgb(248, 237, 235);
    color: rgb(0, 60, 100);
    padding: 30px 20px 0px 30px;
}
#projeto-paixaoemtela button{
   background-color:rgb(128, 15, 47);
   color: rgb(226, 181, 64);
   margin: 20px 0px;
}


/*Projeto Bendito yoga */
#projeto-benditoyoga{
    background-color: rgb(248, 245, 235);
    color: rgb(0, 60, 100);
    padding: 30px 20px 0px 30px;
}
#projeto-benditoyoga button{
    background-color: rgb(121, 88, 180);
    color: rgb(248, 245, 235);
    margin: 20px 0px;
}
#projeto-benditoyoga h2{
    color: rgb(121, 88, 180);
}

/* redes sociais */

#redes-sociais{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 100px;
    gap: 50px;
}

#github h1{
    color: rgb(121, 88, 180);
}
#github button{
    background-color: rgb(121, 88, 180);
    color: antiquewhite;
    margin-top: 10px;
}
#linkedin h1{
    color: #0a66c2;
}
#linkedin button{
    background-color: #0a66c2;
    color: antiquewhite;
    margin-top: 10px;
}

/*Feedback de amigos*/
#feedbacks{
    margin-top: 80px;
    text-align: center;
}
#feedbacks h1{
    font-size: 30px;
    color: rgb(121, 88, 180);
}

.slider {
    position: relative;
    width: 80%;
    max-width: 100%;
    height: 300px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 10px;
  }
  
  /* Individual Slide */
  .slide {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease, transform 1s ease;
    transform: translateX(100%);
  }
  
  /* Show active slide */
  .slide.active {
    opacity: 1;
    transform: translateX(0);
  }
  
  /* Animation for exiting slides */
  .slide.exiting {
    transform: translateX(-100%);
    opacity: 0;
  }
  
  /* Slide Images */
  .slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /*certificados container*/

  #certificados{
    background-color: rgb(243, 255, 254);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    gap: 15px;
  }
  #certificados h1{
    color: rgb(0, 60, 100);
  }

  /*Footer*/

  footer{
    padding: 20px;
  }

  footer h2{
    font-size: 15px;
    margin: 20px;
    color: white;
  }

 footer #footer-titulo1{
    margin-top: 150px;
    float: left;
 }

 footer #footer-titulo2{
    padding-left: 100px;
    padding-bottom: 100px;
 }

 /*função de dinamica da tela */

#titulo2.hidden{
    transform: translateX(100%);
}
#titulo2.show{
    transform: translateX(0%);
    transition: all 2s;
}


 .hidden{
    opacity: 0;
    filter: blur(15px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show{
    transform: translateX(0);
    filter: blur(0);
    opacity: 1;
    transition: all 1.0s;
}
 
#projeto-petdev :nth-child(2){
    transition: all 1s;
}

#imagens-projeto.hidden{
    transform: translateX(100%);
}
#imagens-projeto.show{
    transform: translateX(0%);
    transition: all 1s;
}

#projetos h2{
    transition: 0.5s;
}
.conteudo-sobre :nth-child(1){
    transition-delay: 100ms;
}
.conteudo-sobre :nth-child(2){
    transition-delay: 300ms;
}
.conteudo-sobre :nth-child(3){
    transition-delay: 400ms;
}




#container-fotos :nth-child(1){
    transition-delay: 100ms;
}
#container-fotos :nth-child(2){
    transition-delay: 300ms;
}
#container-fotos :nth-child(3){
    transition-delay: 400ms;
}
#container-fotos :nth-child(4){
    transition-delay: 600ms;
}
#container-fotos :nth-child(5){
    transition-delay: 800ms;
}
#container-fotos :nth-child(6){
    transition-delay: 1000ms;
}
#container-fotos :nth-child(7){
    transition-delay: 1000ms;
}

header :nth-child(2){
    transition-delay: 500ms;
}
footer :nth-child(2){
    transition-delay: 500ms;
}

#footer-titulo2.hidden{
    transform: translateX(100%);
}
#footer-titulo2.show{
    transform: translateX(0%);
    transition: all 2s;
}


#github.hidden{
    transform: translateY(-100%);
}
#github.show{
    transform: translateY(0%);
}

#linkedin.hidden{
    transform: translateY(-100%);
}
#linkedin.show{
    transform: translateY(0%);
}

#redes-sociais :nth-child(1){
    transition-delay: 100ms;
}
#redes-sociais :nth-child(2){
    transition-delay: 500ms;
}


#certificados :nth-child(1){
    transition:0.8s
}
#certificados :nth-child(2){
    transition-delay: 100ms;
}
#certificados :nth-child(3){
    transition-delay: 200ms;
}
#certificados :nth-child(4){
    transition-delay: 300ms;
}
#certificados :nth-child(5){
    transition-delay: 400ms;
}
#certificados :nth-child(6){
    transition-delay: 500ms;
}
#certificados :nth-child(7){
    transition-delay: 600ms;
}


@media (min-width: 768px) {

    p{  
        font-size: 23px;
        margin-top: 30px;
    }
    header h2{
        padding: 0px 25px;
    }
    header h1{
        font-size: 220px;
    }
    h1{
        font-size: 100px;
    }
    
    #titulo2 :nth-child(1){
        font-size: 35px;
    }
    header{
        padding-left: 80px;
        margin: 400px;
        border: none;
    }
    button{
        padding: 20px;
        width: 200px;
        font-size: 20px;
    }

    h3{
        font-size: 25px;
    }
    #titulo2{
        margin-left: 100px;
    }

    #sobre{
        border: none;
    }
    #sobre h1{
        font-size: 100px;
    }
    #sobre p{
        font-size: 40px;
    }
    #sobre img{
        width: 30%;
    }
    #container-fotos{
        display: flex;
        margin: 300px 0px 500px;
        width: 100%;
        justify-content: center;
        gap: 80px;
    }
    #container-fotos img{
        width: 100px;
    }


    /*Projetos*/

    #projetos h1{
        margin-bottom: 250px;
    }
    #imagens-projeto .seta{
        width: 200px;
        margin: 200px;
    }
    #logo{
        width: 600px;
    }
    .img-responsividade{
        width: 800px;
    }
    #imagens-projeto{
        display: grid;
        grid-template-columns: auto auto;
    }

    #descricao-projeto{
        display: flex;
        justify-content: center;
        margin-bottom: 200px;
    }
    #conteudo-projeto{
        width: 700px;
    }
    #conteudo-projeto h2{
        font-size: 60px;
    }
    #conteudo-projeto-logo{
        width: 500px;
    }
    #conteudo-projeto-logo img{
        width: 100%;
    }

    #projeto-petdev, #projeto-paixaoemtela, #projeto-benditoyoga{
        padding-top: 200px;
    }

    #feedbacks{
        margin: 100px;
    }

    .slider{
        height: 800px;
    }
    .slider img{
        width: 50%;
    }
    
    #certificados img{
        width: 550px;
    }

    footer{
        margin: 400px 200px 200px 400px;
        display: flex;
        flex-direction: column;
    }

    #footer-titulos{
        width: 50%;
    }
    #footer-titulos h1{
        margin: 0px;
        padding: 0px;
    }
    #footer-titulos :nth-child(2){
        
        float: right;
    }
    }